* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width:  1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
border: 1px solid rgb(172,172,172);
}

.headerTop {
    background-color: rgb(206, 206, 206);
padding-top: 0.25rem;
padding-bottom: 0.25rem;

}

.headerTop .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerSecond {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.headerSecond .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}


.logo img {
    width: 2rem;
}

.headerSecondRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.headerSecond a {
    text-decoration: none;
    color: gray;
}

#menuButton {
    background-color: transparent;
    border: none;
    color: green;
}

.languageSelect {
    display: none;
}




@media only screen and (min-width: 768px){

     .headerTop .container {
        justify-content: space-between;
     }




   .languageSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
   }

    .languageSelect img {
        width: 1rem;
    }

@media only screen and (min-width: 992px){
    #menuButton {
        display: none;
    }
}
